<!-- <div class="row" ng-controller="vmShopperCtrl"> -->
  <!-- <div class="row col-md-12" ba-panel ba-panel-title="Data Petugas Garendong" ba-panel-class="panel-group"> -->

    <!-- STATS -->
    <!-- <div class="col-lg-12 col-md-12 col-sm-12"
         ba-panel
         ba-panel-class="pv-panel" style="height:150px"> -->
      <div class="col-md-12" style="height:150px;">
        <div class="pie-charts row">
          <!-- Shopper Rating -->
          <div class="col-md-3" >
            <div>
              <div class="description">
                <div>
                  <span>{{stats.avgRating.description}}</span>
                </div><br>
                <div class="description-stats">{{stats.avgRating.value}}</div><br>
                <div>
                  <i class="{{stats.avgRating.icon}}" [style.color]="stats.avgRating.iconColor"></i>
                  <span>{{stats.avgRating.change}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Feedback Count -->
          <div class="col-md-3" >
            <div>
              <div class="description">
                <div>
                  <span>{{stats.feedback_count.description}}</span>
                </div><br>
                <div class="description-stats">{{stats.feedback_count.value}}</div><br>
                <div>
                  <i class="{{stats.feedback_count.icon}}" [style.color]="stats.feedback_count.iconColor"></i>
                  <span>{{stats.feedback_count.change}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Total Shopper -->
          <div class="col-md-3">
            <div>
              <div class="description">
                <div>
                  <span>{{stats.shopperCount.description}}</span>
                </div><br>
                <div class="description-stats">{{stats.shopperCount.value}}</div><br>
                <div>
                  <i class="{{stats.shopperCount.icon}}" [style.color]="stats.shopperCount.iconColor"></i>
                  <span>{{stats.shopperCount.change}}</span>
                </div>
              </div>
            </div>
          </div>  
          <!-- Transaction per Shopper -->
          <div class="col-md-3">
            <div>
              <div class="description">
                <div>
                  <span>{{stats.transactionPerShopper.description}}</span>
                </div><br>
                <div class="description-stats">{{stats.transactionPerShopper.value}}</div><br>
                <div>
                  <i class="{{stats.transactionPerShopper.icon}}" [style.color]="stats.transactionPerShopper.iconColor"></i>
                  <span>{{stats.transactionPerShopper.change}}</span>
                </div>
              </div>
            </div>
          </div>  

        </div>
      </div>
      
      <div class="row pv-stats">
        <!-- Rating Trend -->
        <ba-card class="col-md-6" cardTitle="Tren Rating" baCardClass="pv-panel" style="height=250px; margin-bottom:10px">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div id="vmShopperRating" class="pv-chart" style="height:200px"></div>
              <!-- loading / no data handler -->
              <div class="pv-chart-medium-overlay" *ngIf="loading || noData">
                <div class="pv-chart-no-data" *ngIf="noData">Tidak Ada Data</div>
                <div class="pv-chart-loading" *ngIf="loading"></div>
              </div>
            </div>
          </div>
        </ba-card>
        <!-- Feedback Reason -->
        <ba-card class="col-md-6" cardTitle="Ulasan" baCardClass="pv-panel" style="height:250px">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div id="vmFeedbackReason" class="pv-chart" style="height:200px"></div>
              <div class="pv-chart-small-overlay" *ngIf="loading || noData">
                <div class="pv-chart-no-data" *ngIf="noData">Tidak Ada Data</div>
                <div class="pv-chart-loading" *ngIf="loading"></div>
              </div>
            </div>
          </div>
        </ba-card>
      </div>
      <div class="row pv-stats">
        <!-- Top Shopper -->
        <ba-card class="col-md-12" cardTitle="Petugas Garendong" baCardClass="pv-panel" style="height:450px">
          <div>
            <table class="table" [mfData]="shopperList.shopper | shopperFilter : nameQuery" #mf="mfDataTable" [mfRowsOnPage]="5">
              <thead>
              <tr class="sortable ">
                <th class="table-id">#</th>
                <th>
                  <mfDefaultSorter by="name">Nama</mfDefaultSorter>
                </th>
                <th style="text-align:right">
                  <mfDefaultSorter [by]="sorter.orders">#Transaksi</mfDefaultSorter>
                </th>
                <th style="text-align:right">
                  <mfDefaultSorter [by]="sorter.rating">Rating</mfDefaultSorter>
                </th>
                <th></th>
                <th style="text-align:right">
                  <mfDefaultSorter [by]="sorter.feedbacks">#Ulasan</mfDefaultSorter>
                </th>
              </tr>
              <tr>
                <th></th>
                <th>
                  <input placeholder="Cari Garendong" class="input-sm form-control search-input" type="search" [(ngModel)]="nameQuery"/>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let shopper of mf.data; let in = index">
                <td class="table-id">{{in+1+(mf.activePage-1)*shopperPageSize}}</td>
                <td>
                  {{shopper.name}}
                </td>
                <td class="" style="text-align:right">
                  {{shopper.orders}}
                </td>
                <td class="" style="text-align:right">
                  {{formatRating(shopper.rating)}}
                </td>
                <td style="width:50px">
                  <i class="{{getArrowIcon(shopper.rating_change)}}" [style.color]="getArrowColor(shopper.rating_change)" *ngIf="shopper.rating_change != 0"></i>
                  <span *ngIf="shopper.rating_change != 0">{{formatRatingChange(shopper.rating_change)}}</span>
                </td>
                <td class="" style="text-align:right">
                  {{shopper.feedbacks}}
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="6" class="text-center">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5]"></mfBootstrapPaginator>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </ba-card>
      </div>
      
      
    <!-- </div> -->

    
    


  <!-- </div> -->
<!-- </div> -->